* {
  all: unset;
}

$background-lighter: rgba(70, 70, 70, 0.95);
$background: rgba(40, 40, 40, 1);
$border: rgba(20, 20, 20, 1);
$foreground: rgb(235, 219, 178);
$accent: #98971a;

$warning: #caa500;
$danger: #ce4c48;

.main_bar_eDP-1 {
  font-family: Overpass, Noto Fonts Emoji;
}

.eww-bar{
  background-color: $background;
  color: $foreground;
  font-size: 11pt;
}

// title
.active-window{
  margin-left: 20px;
  padding: 12px;
}

// workspaces
.wp-focused{
  background-color: $accent;
  padding-left: 25px;
  padding-right: 25px;
  color: black;
}
.wp-visible{
  padding-left: 25px;
  padding-right: 25px;
}
.wp{
  padding-left: 25px;
  padding-right: 25px;
}

.settings{
  margin-right: -5px;
}

.clock{
  padding-right: 20px;
}

tooltip{
  font-size: 11pt;
  padding: 40px;
  margin: 20px;
  border-radius: 7px;
  background-color: $background-lighter;
}

.clickable-button {
  min-height: 24px;
  min-width: 24px;
  padding: 5px;
  border-radius: 10px;
}

button{
  transition: background-color 100ms linear;
}

button:hover {
  background-color: $background-lighter;
}
button:focus {
  background-color: $accent;
}


// vm
.vms{
  min-width: 24px;
  padding: 9px;
}
.vm-open{
  background-image: url('icons/windows.png');
}
.vm-closed{
  background-image: url('icons/windows-off.png');
}