* {
  all: unset;
}

$background-lighter: rgba(70, 70, 70, 0.95);
$background: rgba(40, 40, 40, 1);
$border: rgba(20, 20, 20, 1);
$foreground: rgb(235, 219, 178);
$accent: #98971a;

$warning: #caa500;
$danger: #ce4c48;

.main_bar_eDP-1 {
  font-family: Overpass, Noto Fonts Emoji;
}

.eww-bar{
  background-color: $background;
  color: $foreground;
  font-size: 10pt;
}

// title
.active-window{
  margin-left: 20px;
  padding: 12px;
}

// workspaces
.wp-focused{
  background-color: $accent;
  padding-left: 25px;
  padding-right: 25px;
  color: black;
}
.wp-visible{
  padding-left: 25px;
  padding-right: 25px;
}
.wp{
  padding-left: 25px;
  padding-right: 25px;
}

.settings{
  margin-right: -5px;
}

.temps{
  padding-left: 15px;
  padding-right: 10px;
  min-width: 40px;
}

.clock{
}

tooltip{
  font-size: 11pt;
  padding: 40px;
  margin: 20px;
  border-radius: 7px;
  background-color: $background-lighter;
}

.settings-button {
  min-height: 25px;
  padding: 5px 10px 2px 7px;
  margin: 5px -5px 5px 5px;
  border-radius: 10px;
  margin-right: 10px;
}

button{
  transition: background-color 100ms linear;
}

button:hover {
  background-color: $background-lighter;
}
button:focus {
  background-color: $accent;
}





// battery
.battery-bar scale highlight 
{
  all: unset;
  background-color: $accent;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.battery-bar-warning scale highlight 
{
  all: unset;
  background-color: $warning;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.battery-bar-danger scale highlight 
{
  all: unset;
  background-color: $danger;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.battery-bar-full scale highlight {
  all: unset;
  background-color: $accent;
  border-radius: 5px;
}

.battery-bar scale trough, 
.battery-bar-full scale trough 
.battery-bar-warning scale trough 
.battery-bar-danger scale trough 
{
  all: unset;
  background-color: $background-lighter;
  min-height: 20px;
  min-width: 80px;
  border-radius: 5px;
}

.battery-bar .charging, 
.battery-bar-full .charging,
.battery-bar-warning .charging,
.battery-bar-danger .charging
{
  min-width: 10px;
  margin-right: 5px;
}


