* {
  all: unset;
}

$background: rgba(40, 40, 40, 1);
$border: rgba(20, 20, 20, 1);
$foreground: rgb(235, 219, 178);
$foreground-darker: rgba(192, 182, 156, 0.8);
$accent: #98971a;
$background-lighter: rgba(70, 70, 70, 0.95);


.container {
  font-family: Overpass, Noto Fonts Emoji;
  background-color: $background;
  color: $foreground;
  font-size: 10pt;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
  margin: 0px 0px 50px 50px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


.volume-icon {
  background-image: url('icons/speaker.png');
  min-height: 32px;
  min-width: 32px;
  margin-right: 20px;
}

.backlight-icon {
  background-image: url('icons/brightness.png');
  min-height: 32px;
  min-width: 32px;
  margin-right: 20px;
}

.scroller {
  margin-bottom: 20px;
}



.scroller scale highlight {
  all: unset;
  background-color: $accent;
  border-radius: 5px;
}

.scroller scale trough {
  all: unset;
  background-color: $background-lighter;
  min-height: 20px;
  min-width: 300px;
  border-radius: 5px;
}




// Calendar
.cal {
  background-color: $background-lighter;
  border-radius: 7px;
  padding: 5px;
  margin-top: 10px;
}

calender {
  color: $foreground-darker;
}

calendar:selected {
  color: $accent;
}

calendar.header {
  color: $accent;
}

calendar.highlight {
  color: $accent;
}

calendar:indeterminate {
  color: $foreground-darker;
}

// image
.image{
  margin-right: -35px;
  background-image: url('icons/sonic.png');
  min-height: 200px;
  min-width: 300px;
  margin-top: 10px;
  margin-bottom: -45px;
}