* {
  all: unset;
}

$background: rgba(40, 40, 40, 1);
$border: rgba(20, 20, 20, 1);
$foreground: rgb(235, 219, 178);
$foreground-darker: rgba(192, 182, 156, 0.8);
$accent: #98971a;
$background-lighter: rgba(70, 70, 70, 0.95);
$warning: #caa500;
$danger: #ce4c48;

.container {
  font-family: Overpass, Noto Fonts Emoji;
  background-color: $background;
  color: $foreground;
  font-size: 10pt;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
  margin: 0px 0px 50px 50px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.vm{
  margin-right: 20px;
}

.vm-open{
  min-height: 24px;
  min-width: 24px;
  background-image: url('icons/windows.png');
}
.vm-closed{
  min-height: 24px;
  min-width: 24px;
  background-image: url('icons/windows-off.png');
}


.running{
  margin-bottom: 20px;
}

.toggle{
  margin-top: 30px;
}

.clickable-button {
  min-height: 24px;
  min-width: 24px;
  padding: 5px;
  border-radius: 10px;
}
button{
  transition: background-color 100ms linear;
}

button:hover {
  background-color: $background-lighter;
}
button:focus {
  background-color: $accent;
}


.start{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  min-height: 50px;
  min-width: 120px;
  background-image: url('icons/start.png');
}

.end{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  min-height: 110px;
  min-width: 290px;
  background-image: url('icons/shutdown.png');
}

.rdp{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  min-height: 65px;
  min-width: 65px;
  background-image: url('icons/rdp.png');
}

.rdp-label{
  padding-right: 20px;
}